.card {
    border: 1px solid black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    position: relative;
}

.card__question,
.card__answer {
    text-align: center;
}

.card__bookmark {
    position: absolute;
    top: -10px;
    right: 40px;
    width: 30px;
    height: 30px;
    transform: scale(2);
}

.card__button {
    border: none;
    background: none;
    font-size: 2rem;
    transform: scale(1.2);
    width: auto;
    padding: 20px;
}