@import "components/card.css";

.main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 16px;
    padding-top: 320px;
}

.about-me__profile {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.about-me__icon {
    top: 100px;
    left: 100px;
    width: 70px;
    height: 70px;
    transform: scale(4);
}

.about-me__name {
    top: 100px;
    right: 100px;
}

.about-me__description {
    font-size: 1.7rem;
    padding-left: 50px;
}

.profile__button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
}

.profile__button {
    width: 50%;
    height: 100px;
}

.profile__icon {
    transform: scale(2);
}

h5 {
    padding-left: 50px;
    margin: 0;
    font-size: 2.5rem;
}

.settings-name {
    font-size: 2.3rem;
}

.settings-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
}

.settings__icon {
    transform: scale(4);
}